#btn {
  background-color: #eeeeee;
  border: solid 1px #eeeeee;
  color: #395697;
}

span.PrivateTabIndicator-root-8.PrivateTabIndicator-colorSecondary-10.MuiTabs-indicator
  #color {
  background-color: #da7f8f !important;
}

#abtn {
  background-color: #395697;
  border: solid 1px #395697;
  color: #eeeeee;
}

#linkStyle {
  text-decoration: none;
  color: #eeeeee;
}

#aStyle {
  text-decoration: none;
  color: #395697;
}

#card {
  width: 40%;
}

.grey {
  color: rgba(0, 0, 0, 0.54);
}

.blue {
  color: #395697 !important;
}

@media only screen and (max-width: 750px) {
  #column {
    flex-direction: column;
  }
  #card {
    width: 80%;
  }
}
